loader {
    .load-bar {
        position: absolute;
        width: 100%;
        background-color: map-get($colors , primary );
        z-index: 1234;
        bottom: 0;
        height: 2px;
        left: 0;
      }
      .bar {
        content: "";
        display: inline;
        position: absolute;
        width: 0;
        height: 100%;
        left: 50%;
        text-align: center;
      }
      .bar:nth-child(1) {
        background-color: map-get($colors , secondary );;
        animation: loading 2s linear infinite;
      }
      .bar:nth-child(2) {
        background-color: map-get($colors , primary );
        animation: loading 2s linear 1s infinite;
      }
      .bar:nth-child(3) {
        background-color: map-get($colors , accent );;
        animation: loading 2s linear 2s infinite;
      }
      @keyframes loading {
          from {left: 50%; width: 0;z-index:100;}
          33.3333% {left: 0; width: 100%;z-index: 10;}
          to {left: 0; width: 100%;}
      }
}
