<ion-header no-border>
  <ion-navbar color="white">
    <ion-title>Upcoming</ion-title>
    <loader *ngIf="loading"></loader>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-title class="episode-container-title">Today</ion-title>
  <ion-scroll scrollX="true" class="episode-scroller">
    <ion-row nowrap class="headerChip">
      <ion-col col-9 *ngFor="let episode of today">
        <episode-item [item]="episode" (clickedItem)="navCtrl.push('OverviewPage', { episode: $event })"></episode-item>
      </ion-col>
    </ion-row>
  </ion-scroll>

  <ion-title class="episode-container-title">Tomorrow</ion-title>
  <ion-scroll scrollX="true" class="episode-scroller">
    <ion-row nowrap class="headerChip">
      <ion-col col-9 *ngFor="let episode of tomorrow">
        <episode-item [item]="episode" (clickedItem)="navCtrl.push('OverviewPage', { episode: $event })"></episode-item>
      </ion-col>
    </ion-row>
  </ion-scroll>

</ion-content>